<section>
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="loginStyle mt-2" id="loginid">
                <h4 class="formTitle"><b>Add Documents</b></h4>

                <div class="col-md-12 col-sm-12 col-12 my-4">
                    <div class="d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-add-24.png" width="15px" height="15px">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="d-flex justify-content-center align-items-center my-5 mx-5"> <img
                                        src="../../../../../assets/images/icons8-file-48.png" width="15px"
                                        height="15px"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>