<section>
    <div class="container">
        <div class="col-lg-6 signInRow">
            <form [formGroup]="signUpAdminForm">
            <div class="d-flex align-items-center text-center justify-content-center">
                <div class="loginStyle mt-2" id="loginid">
                    <h1 class="formTitle">SIGN UP</h1>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="email" class="form-label">Email*</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle icon" id="empId" 
                                    placeholder="Enter Email" name="employee_email" formControlName="employee_email" [ngClass]="{ 'is-invalid': submitted && f['employee_email'].errors }">
                                
                                </div>
                            <div *ngIf="submitted && f['employee_email'].errors" class="invalid-feedback">
                                <div *ngIf="f['employee_email'].errors['required']">Email ID is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">User Name*</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle userIcon" id="empId"
                                    placeholder="Enter User Name" name="user_name" formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f['user_name'].errors }">
                            </div>
                            <div *ngIf="submitted && f['user_name'].errors" class="invalid-feedback">
                                <div *ngIf="f['user_name'].errors['required']">User Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Company*</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle iconCompany" id="empId"
                                    placeholder="Enter Company" name="company" formControlName="company" [ngClass]="{ 'is-invalid': submitted && f['company'].errors }">
                            </div>
                            <div *ngIf="submitted && f['company'].errors" class="invalid-feedback">
                                <div *ngIf="f['company'].errors['required']">Company is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Password*</label>
                            <div class="input-group">
                                <input type="password" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Password" name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                            </div>
                            <div>
                                <i alt="show" class="fa fa-eye-slash eye-show dropdown-icon"
                                    (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                                <i alt="hide" class="fa fa-eye eye-hide dropdown-icon"
                                    (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                            </div>
                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Re-Password*</label>
                            <div class="input-group">
                                <input type="password" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Confirm Password" name="confirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                            </div>
                              <div>
                                    <i alt="show" class="fa fa-eye-slash eye-show dropdown-icon"
                                        (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                                    <i alt="hide" class="fa fa-eye eye-hide dropdown-icon"
                                        (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                                </div>
                            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <!-- <div class="col-lg-2"></div> -->
                            <div class="col-lg-12 col-md-12 col-sm-6 col-12">
                                <p class="forgot-pass"><input type="radio"
                                    [(ngModel)]="termandConditionAccepted"  (change)="valueChange($event)">You
                                    Agrees to Merantis <span class='underline'><a href="#"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">Terms and Conditions </a></span></p>
                            </div>
                            <div class="row text-center register">
                                <button type="button" class="btn btn1" (click)="onRegister()">Register
                                </button>
                            </div>
                            <div class="row text-center">
                                <div class="d-flex flex-col justify-content-center">
                                    <img src="../../../assets/icons8-facebook.svg" height="37px" width="37px" (click)=" signInWithFB()">
                                    <!-- <img src="../../../assets/icons8-google.svg" height="37px" width="37px"> -->
                                    <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
                                    <img src="../../../assets/icons8-apple.svg" height="37px" width="37px">
                                </div>
                            </div>
                          

                        </div>
                    </div>
                    <p class="forgot-pass" style="text-align: center;">I already have an Account  <span class='underline'><a (click)="onAdminLogin()"
                        style="text-align: center; color: blue;" class="footer"> Login</a></span>
                    </p>
                </div>

            </div>
            </form>
        </div>


    </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <app-terms-condition></app-terms-condition>
        </div>
      </div>
    </div>
  </div> 