
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MERANTIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
          <a class="nav-link active text-capitalize" aria-current="page" href="#consulting">Consulting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-capitalize" aria-current="page" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-capitalize" aria-current="page" href="#aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-capitalize" aria-current="page" href="#leadership">Partners</a>
        </li>
     
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active text-capitalize" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'/auth/user-login'" (click)="onSelect('User')">User Login</a></li>
              <li><a class="dropdown-item" [routerLink]="'/auth/consultant-login'" (click)="onSelect('Consultant')">Consultant Login</a></li>
              <li><a class="dropdown-item" [routerLink]="'/auth/admin-login'" (click)="onSelect('Admin')">Admin Login</a></li>
            </ul>
          </li>
       <li class="nav-item">
          <a class="nav-link active text-capitalize" aria-current="page" href="#">API marketplace</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
