<section>
    <div class="row my-2" id="loginid">
        <h1 class="formTitle">View Consultant Details</h1>
    </div>
    <div class="row d-flex align-items-center mx-3">
        
            <div class="col-md-12 col-sm-12 col-12">

                <div class="d-flex">
                    <div class="col-md-4 col-sm-4 col-sm-12 col-12">
                        <img src="../../../../assets/images/imageAdmin.jpg"  alt="" class="pendingImg">
                    </div>
                    <div class="col-md-8 col-sm-8 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">Consultant Name</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                   Dr. Vijay 
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">DOB</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                :
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    23/05/1893
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">Email</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    vijay@yahoo.com
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">Patient Gender</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    <span>male</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">CV</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    <span>file.pdf</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">Client Name</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    <span>John</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim">Reports</p>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-1 col-1">
                                <p>:</p>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-5">
                                <p class="pendingClaim-details">
                                    <span>3</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                        <div class="row">
                                <button class="btn referBtnStyle1">Send for Approval</button>
                         
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row Experties">
                    <label>Experties</label>
                    <textarea type="text" rows="4" placeholder="Enter Experties ex: Excellent communication skills, Commercial awareness,Organisational skills,
                    The ability to listen and persuade, Teamworking skills,Problem-solving skills  "></textarea>
                </div>
            </div>


    </div>
</section>