$white: #ffffff;
$black: #000000;
$grey: #fcfcfc;
$dark-grey: #343232;
$theme-blue: #00a99d;
$theme-blue-dark: #00524c;
$opaque-black: #0000001f;
$solid-green: #64c595;
$solid-blue: #5fa4ed;
$solid-red: #dc4e42;
$solid-yellow: #f3a112;
$solid-orange: orange;
$text-grey: #797979;
$background-grey: #ecf1f1;
$light-theme-blue: #edf9f8;
$header-grey: #d6d6d6;
$border-grey: #ced4da;
$card-shade-one: #519394;
$card-shade-two: #67b5b6;
$card-shade-three: #769caf;
$card-shade-four: #93b5c6;
$card-shade-five: #7fa1be;
$card-shade-six: #517488;
$transparent: transparent;

//sizes
$xtra-small: 300px;
$small: 600px;
$tab: 769;
$medium: 900px;
