<!-- Welcome -->

<app-navbar></app-navbar>
<section class="bg-main bg-color welcome-section">
    <div class="container-fluid relative">
        <div class="row mb-4">
            <div
                class="mt-5 mt-lg-0 text-center text-lg-start order-lg-0 order-1 col-12 col-md-12 col-lg-6 justify-content-center align-items-center welcome-page">
                <div class="mx-5">
                    <h2 class="text-capitalize fw-bolder">Why MERANTIS?</h2>
                    <p class="mt-3 mb-4 para-widht text-light-grey">
                        Merantis operates as a dynamic marketplace that bridges
                        the gap between AI-driven initial solutions and thoroughly vetted responses from our
                        extensive pool of industry experts.
                    </p>
                    <div class="text-center w-100 text-md-start">
                        <button class="btn btn-default text-capitalize" data-bs-toggle="tooltip"
                            title="Please Click!">Contact US</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 order-lg-1 order-0 carasoul">
                <div class="">
                    <!-- <video src="../../assets/images/video.mp4" loop muted autoplay
                        class="welcome-video--section"></video> -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner ">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">

                                            <div class="d-flex justify-content-center align-items-center">

                                                <div class="card welcome-video--section">
                                                    <img src="../../assets/images/humanoid-robot-working-with-machine-factory-ai-generative.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">

                                                        <ul class="card-text text-light-grey">
                                                            <h3 class="card-title text-capitalize text-black">AI-Driven
                                                                Initial Solutions</h3>
                                                            <li>When a user submits a query or problem, our AI
                                                                algorithms swiftly analyze the context and provide
                                                                quick, preliminary solutions. These solutions serve as
                                                                a starting point, addressing immediate needs and
                                                                offering rapid insights.</li>
                                                            <li>Leveraging AI allows us to expedite the response time,
                                                                ensuring efficiency and agility in addressing complex
                                                                challenges.</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="d-flex justify-content-center align-items-center">

                                                <div class="card welcome-video--section">
                                                    <img src="../../assets/images/pexels-pavel-danilyuk-8438918.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">

                                                        <ul class="card-text text-light-grey">
                                                            <h5 class="card-title text-capitalize text-black">Expert
                                                                Vetting and Validation:</h5>
                                                            <li>Following the initial AI-generated solution, our
                                                                industry experts step in. These experts possess deep
                                                                knowledge across various domains, including regulatory
                                                                compliance, legal frameworks, and other critical
                                                                areas.</li>
                                                            <li> Our experts meticulously review and validate the
                                                                proposed solutions. They consider nuances, legal
                                                                implications, and industry-specific requirements.</li>
                                                            <li> Their expertise ensures that the responses align with
                                                                the highest standards of accuracy, reliability, and
                                                                compliance.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="d-flex justify-content-center align-items-center">

                                                <div class="card welcome-video--section">
                                                    <img src="../../assets/images/holistic.jpg" class="card-img-top"
                                                        alt="...">
                                                    <div class="card-body">

                                                        <ul class="card-text text-light-grey">
                                                            <h5 class="card-title text-capitalize text-black">Holistic
                                                                Approach:</h5>
                                                            <li>We take a holistic approach to problem-solving. By
                                                                combining AI-driven efficiency with expert scrutiny, we
                                                                create a robust feedback loop.</li>
                                                            <li>Our platform fosters collaboration between technology
                                                                and human intelligence, resulting in meaningful,
                                                                reliable, and actionable guidance.</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="d-flex justify-content-center align-items-center">

                                                <div class="card welcome-video--section">
                                                    <img src="../../assets/images/image4.avif" class="card-img-top"
                                                        alt="...">
                                                    <div class="card-body">

                                                        <!-- <p class="card-text"> -->
                                                        <ul class="card-text text-light-grey">
                                                            <h5 class="card-title text-capitalize text-black">
                                                                Industry-Specific Focus:</h5>
                                                            <li>Merantis caters to diverse industries, including
                                                                finance, healthcare, technology, and more.</li>
                                                            <li> Our experts specialize in various fields, ensuring that
                                                                responses are tailored to specific contexts.</li>
                                                            <li>Whether it's navigating complex regulations,
                                                                addressing compliance challenges, or strategizing for
                                                                optimal outcomes, our experts provide invaluable
                                                                insights.</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <div class="d-flex justify-content-center align-items-center">

                                                <div class="card welcome-video--section">
                                                    <img src="../../assets/images/ai-technology-microchip-background-digital-transformation-concept.jpg"
                                                        class="card-img-top" width="" alt="...">
                                                    <div class="card-body">

                                                        <ul class="card-text text-light-grey">
                                                            <h5 class="card-title text-capitalize text-black">
                                                                Continuous Improvement:</h5>
                                                            <li>We continuously refine our AI models based on feedback
                                                                from experts and users.</li>
                                                            <li>This iterative process enhances the accuracy and
                                                                relevance of our solutions.</li>
                                                            <li>Our commitment to excellence drives us to stay at the
                                                                forefront of industry advancements.</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                                <li>&nbsp;</li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1710501430">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>

<!-- welcome to merantis -->
<section class="service-section">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">Welcome to MERANTIS</h2>
        <hr class="w-25 mx-auto">
        <p>MERANTIS products guide businesses in assessing, conceptualizing, and implementing AI technology to gain a
            competitive edge. Our AI accelerator products enhance competitiveness and also expedite value realization in
            diverse project streams using our pool of seasoned industry experts and consultants
        </p>

    </div>
    <div class="container mt-5">
        <div class="col-12">
            <div class="row g-5 mb-5">
                <div class="col-12 row">
                    <div class="col-12 col-lg-4 col-md-12 welcome-merantis">
                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <img id="language1" src="../../assets/images/human-resources.png" width="42px" />
                                <h5 class="card-title mt-2">
                                    Merantis Industry Experts with AI/ML Accelerators as SaaS</h5>
                                <p class="card-text">Combining Industry experts and AI generated responses for quicker,
                                    correct
                                    turnaround reducing hallucinations.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-lg-4 col-md-12 welcome-merantis">

                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <img id="coffee" src="../../assets/Coffee.jpg" />
                                <h5 class="card-title mt-2">Deploy
                                    in your own Secure Cloud Environment </h5>
                                <p class="card-text">Merantis AI ML products can be installed in your own cloud provider
                                    tenant ensuring
                                    privacy of your data , Products analyze your document repositories to understand
                                    your
                                    preferences and generate content that aligns with your needs.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-4 col-md-12 welcome-merantis">

                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <img id="more_grid_big" src="../../assets/More_Grid_Big.jpg" />
                                <h5 class="card-title mt-2"> 24/7 Hours Support</h5>
                                <p class="card-text">No matter your time zone or question, we are here to help.</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- consulting -->
<section class="common-section bg-color-about-us mb-5 pt-5 contact-section" id="consulting">
    <div class="container text-center common-title fw-bold ">
        <h2 class="common-heading">Consulting</h2>
        <hr class="w-25 mx-auto">
        <p>Miratis Consulting Approach</p>
        <hr class="w-25 mx-auto">

    </div>
    <div class="container text-right">
        <div class="chart-section mx-auto mt-10">
            <div class="justify-content-right align-items-right canvasjs">
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'460px'}"></canvasjs-chart>
            </div>
        </div>
    </div>

</section>

<!-- products -->
<section class="service-section" id="products">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">Products</h2>
        <hr class="w-25 mx-auto">
        <p>Book homes that offer space, convenience, and amenities.</p>

    </div>
    <div class="container mt-5">
        <div class="row g-5">
            <div class="col-12 col-lg-4 col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../../assets/product3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <div class="d-flex justify-content-between">
                                <p class="small text-grey"><i class="fa-solid fa-book-open-reader"></i> : 5000</p>
                                <p class="small text-grey">March 3, 2023</p>
                            </div> -->
                            <!-- <h5 class="card-title mt-3">
                                The Coldest Sunset</h5> -->
                            <p class="card-text mb-3 mb-3">AI ML - Insurance Claims automation Service</p>
                            <a class="btn btn-dark" href="#">Read More</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12 col-lg-4 col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card" style="width: 18rem;">

                        <img src="../../../../assets/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <div class="d-flex justify-content-between">
                                <p class="small text-grey"><i class="fa-solid fa-book-open-reader"></i> : 5000</p>
                                <p class="small text-grey">March 3, 2023</p>
                            </div>
                            <h5 class="card-title mt-3">
                                The Coldest Sunset</h5> -->
                            <p class="card-text mt-2 mb-3">AI ML - Regulaotry and Compliance accelerator</p>
                            <a class="btn btn-dark" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-12">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../../assets/product2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- <div class="d-flex justify-content-between">
                                <p class="small text-grey"><i class="fa-solid fa-book-open-reader"></i> : 5000</p>
                                <p class="small text-grey">March 3, 2023</p>
                            </div>
                            <h5 class="card-title mt-3">
                                The Coldest Sunset</h5> -->
                            <p class="card-text mt-2 mb-3">AI ML - Patent accelerator<br>Service</p>

                            <a class="btn btn-dark" href="#">Read More</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About Us -->

<section class="bg-main bg-color-about-us welcome-section common-title" id="aboutUs">
    <div class="container-fluid relative">
        <div class="row mb-5">
            <div
                class="mt-5 mt-lg-5 text-center text-lg-start order-lg-0 order-1 col-12 col-md-12 col-lg-6 justify-content-center welcome-page">
                <div class="mx-5">
                    <h1 class="text-capitalize fw-bolder text-black">About Us</h1>
                    <p class="mt-3 mb-2 para-widht text-primary">Vision</p>
                    <p class="mt-3 mb-5 para-widht text-tertiary-color-rgb">To be a trust worthy
                        partner for businesses, government entities or non-profits enabling them to benefit
                        from the AI evolving technology.</p>

                    <p class="mt-3 mb-2 para-widht text-primary">Mission</p>
                    <p class="mt-3 mb-5 para-widht text-tertiary-color-rgb">To provide AI
                        transformation through consulting and products that can give businesses a competitive
                        advantage and accelerator through MERANTIS’AI, technology, knowledge and experience.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 order-lg-1 order-0 mt-5">
                <div class="welcome-video--section">
                    <img src="../../assets/images/ai.webp" class="imgCss" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Leadership -->
<section class="common-section mb-5 pt-5" id="leadership">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">Leadership</h2>
        <hr class="w-25 mx-auto">
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">
                                 <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Vivek Chauhan</b>
                                        </h5>
                                        <p class="card-text">MBA with honors University of Chicago , MS Oxford
                                            University , B. Tech Computer Science with honors</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Ron Altman</b>
                                        </h5>
                                        <p class="card-text">MBA , ex COO Avioq
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body p-l leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Prashanth Koppula</b>
                                        </h5>
                                        <p class="card-text"> MS Stanford University , B.Tech IIT Bombay</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">
                                    <!-- <img src="../../assets/images/profesional.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Vivek Chauhan</b>
                                        </h5>
                                        <p class="card-text">MBA with honors University of Chicago , MS Oxford
                                            University , B. Tech Computer Science with honors</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Ron Altman</b>
                                        </h5>
                                        <p class="card-text">MBA , ex COO Avioq
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body p-l leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Prashanth Koppula</b>
                                        </h5>
                                        <p class="card-text"> MS Stanford University , B.Tech IIT Bombay</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row g-5">
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">
                                    <!-- <img src="../../assets/images/profesional.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Vivek Chauhan</b>
                                        </h5>
                                        <p class="card-text">MBA with honors University of Chicago , MS Oxford
                                            University , B. Tech Computer Science with honors</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Ron Altman</b>
                                        </h5>
                                        <p class="card-text">MBA , ex COO Avioq
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <div class="card h-100 rounded-l" style="width: 18rem;">

                                    <!-- <img src="../../assets/imageAdmin.jpg" class="card-img-top" alt="..."> -->
                                    <div
                                        class="card-body p-l leadership-card text-center text-lg-start justify-content-center mt-5">
                                        <h5 class="card-title mt-3">
                                            <b>Prashanth Koppula</b>
                                        </h5>
                                        <p class="card-text"> MS Stanford University , B.Tech IIT Bombay</p>
                                    </div>
                                    <div class="text-center w-100 text-md-start mx-3 mb-3">
                                        <p class="underline"> <a class="text-capitalize" data-bs-toggle="tooltip"
                                                title="Please Click!">Learn More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- get in touch -->
<section class="common-section contact-section mb-5 pt-5 bg-color-about-us">
    <div class="custom-shape-divider-top-1710582868">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <div class="container-fluid text-center common-title fw-bold">
        <h2 class="common-heading">Get In Touch With Us</h2>
        <hr class="w-25 mx-auto">
    </div>
    <div class="container-fluid">
        <div class="form-section mx-auto mt-10">
            <form>
                <div class="center-alignment">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter First Name">

                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Enter Last Name">

                            </div>

                        </div>

                    </div>


                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter Phone Number">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Choose Type</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Choose Type</option>
                            <option value="1">India</option>
                            <option value="2">Canada</option>
                            <option value="3">USA</option>
                        </select>
                    </div>
                    <div class="justify-content-center align-items-center text-center">
                        <button type="submit" class="btn btn-lg btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="custom-shape-divider-top-1710582868">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>


<app-footer></app-footer>