<section>
    <div class="container">
        <div class="col-lg-6 signInRow">
            <form [formGroup]="userLoginForm">
            <div class="d-flex align-items-center text-center justify-content-center">
                <div class="loginStyle mt-2" id="loginid">
                    <h1 class="formTitle">FORGOT PASSWORD</h1>
                    <P class="forgetPassword">Enter Your Email or Mobile No We will help you to Reset Password:</P>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="email" class="form-label">Email*</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle icon"  id="email"
                                placeholder="Enter Your Email" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                             
                            </div>
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="text-center align-items-center login">
                                <button type="button" class="btn btn1" (click)="onContinue()">Continue
                                </button>
                            </div>
                           

                        </div>
                    </div>
                    <p class="forgot-pass" style="text-align: center;"> <span class='underline'><a (click)="backToLogin()"
                        style="text-align: center; color: blue;" >
                        Login</a></span>
                    </p>
                </div>

            </div>
            </form>
        </div>


    </div>
</section>