<section>
    <div class="container">
        <div class="col-lg-6 signInRow">

            <div class="d-flex align-items-center">
                <div class="loginStyle mt-2" id="loginid">
                    <h1 class="formTitle">Update Consultant</h1>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="email" class="form-label">Consultant ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Consultant Name" name="employee_id" formControlName="employee_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Client ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Email" name="employee_id" formControlName="employee_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Consultant Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Company Name" name="employee_id" formControlName="employee_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Upload CV</label>
                            <div class="input-group">
                                <input type="file" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Upload CV" name="employee_id" formControlName="employee_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Consultant Industry</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle" id="empId"
                                    placeholder="Enter Company Phone No" name="employee_id" formControlName="employee_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Description (Experties)</label>
                            <div class="input-group">
                                <textarea type="text" class="form-control signInputStyle" id="empId" rows="4"
                                    placeholder="Enter Description" name="employee_id" formControlName="employee_id"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row text-center">
                                <button type="button" class="btn btn1" (click)="loginViaEmpId()">Update
                                </button>
                            </div>
                            </div>
                        
                    </div>
                    <!-- <p class="forgot-pass" style="text-align: center;"> <a href="#" class="footer" style="text-align: center;"
                            (click)="forgetPassword()"> Register as Consultant</a>
                    </p> -->
                </div>

            </div>
        </div>


    </div>
</section>