<section>
    <div class="container">
        <!-- <div class="col-lg-6 signInRow"> -->

            <div class="d-flex align-items-center">
                <div class="loginStyle mt-2" id="loginid">
                    <h4 class="formTitle"><b>Add To Credit Balance</b></h4>

                    <div class="col-md-12 col-sm-12 col-12 my-4">
                        <div class="row">
                        <div class="form-group">
                            <label class="form-label">Amount to Add</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle icon" id="empId"
                                    placeholder="Enter Amount" name="employee_id" formControlName="employee_id">
                            </div>
                            <div class="label-bottom"><p>Enter an amount between $5 to $500</p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Payment Method</label>
                            <div class="input-group">
                                <input type="text" class="form-control signInputStyle icon1" id="empId"
                                    placeholder="Enter Email" name="employee_id" formControlName="employee_id">
                            </div>
                            <div class="label-bottom1"><p>+ Add payment method</p></div>
                        </div>
                    </div>
                        <div class="row button">
                            <div class="d-flex">
                                <button type="button" class="btn btn-default cancel-btn" (click)="loginViaEmpId()">Cancel
                                </button>
                                <button type="button" class="btn btn1" (click)="loginViaEmpId()">Continue
                                </button>
                            </div>
                            </div>
                        
                    </div>
                    <!-- <p class="forgot-pass" style="text-align: center;"> <a href="#" class="footer" style="text-align: center;"
                            (click)="forgetPassword()"> Register as Consultant</a>
                    </p> -->
                </div>

            </div>
        <!-- </div> -->


    </div>
</section>