<section>
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="loginStyle mt-2" id="loginid">
                <h4 class="formTitle"><b>Terms And Conditions</b></h4>

                <div class="col-md-12 col-sm-12 col-12 my-4">
                    <div class="d-flex">
                     <ul>
                        <li></li>
                     </ul>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>